@import '~spectre.css/src/variables';

// font-families
$font-family-primary: $base-font-family;
$font-family-primary-semi-bold: 'OpenSans-SemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-primary-bold: 'OpenSans-Bold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-primary-extra-bold: 'OpenSans-ExtraBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-primary-italic: 'OpenSans-Italic', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-primary-bold-italic: 'OpenSans-ExtraBoldItalic', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;

$font-family-secondary: 'Montserrat-Regular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-secondary-semi-bold: 'Montserrat-SemiBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-secondary-bold: 'Montserrat-Bold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-secondary-extra-bold: 'Montserrat-ExtraBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-secondary-italic: 'Montserrat-Italic', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
$font-family-secondary-bold-italic: 'Montserrat-ExtraBoldItalic', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
