// spectre overrides - colors
$primary-color: #007fff;
$secondary-color: #d8e5f0;
$dark-color: #606060;
$light-color: #9f9f9f;
$success-color: #00c805;
$warning-color: #ffb700;
$error-color: #ff3334;

$bg-color-light: white;

// spectre overrides - font-family
$base-font-family: 'OpenSans-Regular', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
