<button
  class="btn"
  type="{{ type }}"
  [ngClass]="classes"
  [disabled]="isDisabled"
  [class.disabled]="isDisabled"
  [class.loading]="isLoading"
  [class.btn-link]="this.buttonStyle === 'link'"
  [class.btn-primary]="this.buttonStyle === 'primary'"
  (click)="onClickButton()"
>
  <i
    class="material-icons"
    *ngIf="icon && iconPosition === iconPositions.BEFORE"
    [class.rotated]="isRotated"
  >
    {{ icon }}
  </i>
  <span *ngIf="label">{{ label }}</span>
  <i
    class="material-icons"
    *ngIf="icon && iconPosition === iconPositions.AFTER"
    [class.rotated]="isRotated"
  >
    {{ icon }}
  </i>
</button>
