@import '~spectre.css/src/buttons';

.button-group {
  .btn {
    margin-left: 3px;
  }

  div .btn {
    margin-left: 3px;
  }
}

@media screen and (max-width: $size-sm) {
  .btn {
    width: 100%;
  }

  .button-group {
    div .btn {
      margin-top: 3px;
      margin-bottom: 3px;
      margin-left: 0;
    }
  }
}
