// ng prime calendar overrides
body .ui-datepicker table td {
  padding: 1px !important;
}

span {
  &.ui-calendar {
    width: 100%;
  }
}

body .ui-datepicker {
  table td > a,
  table td > span,
  table th span,
  .ui-datepicker-header {
    .ui-datepicker-next,
    .ui-datepicker-prev {
      color: $dark-color !important;
    }

    .ui-datepicker-title {
      .ui-datepicker-month,
      .ui-datepicker-year {
        color: $dark-color !important;
      }
    }

    color: $dark-color !important;
  }

  table td > a.ui-state-active,
  table td > span.ui-state-active {
    background-color: $primary-color !important;
  }
}

span.ui-state-default.ui-state-disabled {
  background-color: #f2f2f2 !important;
}

a.ui-state-default {
  background-color: #e2e2e2 !important;
}
