<div
  class="container page-component-container grid-lg"
  *ngIf="!isLoading"
>
  <div class="columns">
    <div class="column col-12">
      <h2>Events</h2>
    </div>
  </div>
  <div
    class="columns"
    *ngIf="events.length > 0"
    [@listItemRevealAnimation]
  >
    <div
      class="column col-12 col-sm-12 animate"
      *ngFor="let event of events; trackBy: trackByFn"
    >
      <app-event-list-item [event]="event"></app-event-list-item>
    </div>
  </div>
  <app-callout
    [callout]="emptyEventsCallout"
    *ngIf="events.length === 0"
  ></app-callout>
</div>

<div
  class="loading loading-lg loader"
  *ngIf="isLoading"
></div>
