<!-- CONTENT -->
<div class="container event-list-item">
  <div class="columns">
    <div class="column col-12 col-sm-12 text-right">
      <button
        class="btn btn-error btn-sm delete-button"
        (click)="deleteEvent()"
      >
        <i class="icon icon-cross"></i>
      </button>
    </div>
  </div>
  <div class="columns">
    <div class="column col-4 col-sm-12">
      <h4 class="underline">Event</h4>
      <h6>{{ event.name }}</h6>
      <div class="columns">
        <div class="column col-12 col-sm-12 text-right">
          <button
            class="btn btn-success btn-sm"
            (click)="openModal()"
          >
            <i class="icon icon-refresh"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="column col-4 col-sm-12">
      <app-event-place
        [place]="event.place"
        *ngIf="event.place"
      ></app-event-place>
      <app-callout
        [callout]="emptyPlaceCallout"
        *ngIf="!event.place"
      ></app-callout>
    </div>
    <div class="column col-4 col-sm-12">
      <ng-container *ngIf="event.pricings.length >= 0">
        <app-event-pricing
          *ngFor="let pricing of event.pricings"
          [pricing]="pricing"
          [eventId]="event.id"
        ></app-event-pricing>
      </ng-container>
      <app-callout
        [callout]="emptyPricingCallout"
        *ngIf="event.pricings.length === 0"
      ></app-callout>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal"
  [class.active]="isModalOpen"
  id="modal-id"
>
  <a
    class="modal-overlay"
    aria-label="Close"
    (click)="closeModal()"
  ></a>
  <div class="modal-container">
    <div class="modal-header">
      <button
        class="btn btn-clear float-right"
        (click)="closeModal()"
      ></button>
      <div class="modal-title h5">Event</div>
    </div>
    <form
      novaliadate
      autocomplete="off"
      [formGroup]="eventListItemForm"
      (ngSubmit)="updateEvent()"
    >
      <div class="modal-body">
        <div class="content">

          <div
            class="form-group"
            [class.has-error]="eventListItemForm.get('name').touched && !eventListItemForm.get('name').valid"
            [class.has-success]="eventListItemForm.get('name').touched && eventListItemForm.get('name').valid"
          >
            <label
              class="form-label"
              for="name"
            >
              Name
            </label>
            <input
              class="form-input"
              type="text"
              id="name"
              placeholder="Name"
              formControlName="name"
              autocomplete="off"
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-success btn-sm"
        >
          <i class="icon icon-check"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<div style="visibility: none">
  {{ runChangeDetection }}
</div>
