<div class="container grid-lg">
  <div class="columns">
    <div class="column">

      <header>
        <div class="header-container">
          <!-- LOGO -->
          <div class="logo">
            <img
              src="assets/logo.svg"
              alt="Logo"
            >
            <div>
              <span class="by">by</span>
              <span class="inter">Inter</span>
              <span class="ticket">Ticket</span>
            </div>
          </div>
        </div>
      </header>

    </div>
  </div>
</div>
