@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('./fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('./fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url('./fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('./fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('./fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('./fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBoldItalic';
  src: url('./fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('./fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  src: url('./fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('./fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('./fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url('./fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

